<form action="/contact">
    <label for="lastname">Lastname</label>
    <input type="text" name="nom">
<br>
    <label for="firstname">Firstname</label>
    <input type="text" name="firstname">
<br>
    <label for="email">Email</label>
    <input type="text" name="email">
<br>
    <label for="phonenumber">Phone number</label>
    <input type="text" name="phonenumber">
<br>
<br>
    <label for="subject">What's your request about?</label>
    <br>
    <select name="subject" id="subject">
        <option value="subscribe">Subscribe</option>
        <option value="ask">Ask for a course</option>
    </select>
    <br>
    <textarea name="request" id="request" cols="40" rows="10"></textarea>
    <br>
    <input type="submit" id="submit" value="Submit">
</form>